<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.PmsProductMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.PmsProduct">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_category_id" jdbcType="BIGINT" property="productCategoryId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="product_sn" jdbcType="VARCHAR" property="productSn" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="publish_status" jdbcType="INTEGER" property="publishStatus" />
    <result column="new_status" jdbcType="INTEGER" property="newStatus" />
    <result column="recommend_status" jdbcType="INTEGER" property="recommendStatus" />
    <result column="verify_status" jdbcType="INTEGER" property="verifyStatus" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="sale" jdbcType="INTEGER" property="sale" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="promotion_price" jdbcType="DECIMAL" property="promotionPrice" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="album_pics" jdbcType="VARCHAR" property="albumPics" />
    <result column="detail_title" jdbcType="VARCHAR" property="detailTitle" />
    <result column="product_category_name" jdbcType="VARCHAR" property="productCategoryName" />
    <result column="region_id" jdbcType="BIGINT" property="regionId" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="is_bargain" jdbcType="INTEGER" property="isBargain" />
    <result column="charge_standard_id" jdbcType="BIGINT" property="chargeStandardId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.macro.mall.model.PmsProduct">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="detail_desc" jdbcType="LONGVARCHAR" property="detailDesc" />
    <result column="detail_html" jdbcType="LONGVARCHAR" property="detailHtml" />
    <result column="charge_standard_json" jdbcType="LONGVARCHAR" property="chargeStandardJson" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, product_category_id, `name`, pic, product_sn, delete_status, publish_status, 
    new_status, recommend_status, verify_status, sort, sale, price, promotion_price, 
    sub_title, keywords, album_pics, detail_title, product_category_name, region_id, 
    region, is_bargain, charge_standard_id, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    description, detail_desc, detail_html, charge_standard_json
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.macro.mall.example.PmsProductExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pms_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.macro.mall.example.PmsProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pms_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleSelective" parameterType="map" resultMap="ResultMapWithBLOBs">
    select
    <if test="example != null and example.distinct">
      distinct
    </if>
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.aliasedEscapedColumnName}
        </foreach>
      </when>
      <otherwise>
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
      </otherwise>
    </choose>
    from pms_product
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example != null and example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pms_product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKeySelective" parameterType="map" resultMap="ResultMapWithBLOBs">
    select
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.aliasedEscapedColumnName}
        </foreach>
      </when>
      <otherwise>
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
      </otherwise>
    </choose>
    from pms_product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.example.PmsProductExample">
    delete from pms_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.PmsProduct">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_product (product_category_id, `name`, pic, 
      product_sn, delete_status, publish_status, 
      new_status, recommend_status, verify_status, 
      sort, sale, price, 
      promotion_price, sub_title, keywords, 
      album_pics, detail_title, product_category_name, 
      region_id, region, is_bargain, 
      charge_standard_id, create_time, update_time, 
      description, detail_desc, detail_html, 
      charge_standard_json)
    values (#{productCategoryId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, 
      #{productSn,jdbcType=VARCHAR}, #{deleteStatus,jdbcType=INTEGER}, #{publishStatus,jdbcType=INTEGER}, 
      #{newStatus,jdbcType=INTEGER}, #{recommendStatus,jdbcType=INTEGER}, #{verifyStatus,jdbcType=INTEGER}, 
      #{sort,jdbcType=INTEGER}, #{sale,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, 
      #{promotionPrice,jdbcType=DECIMAL}, #{subTitle,jdbcType=VARCHAR}, #{keywords,jdbcType=VARCHAR}, 
      #{albumPics,jdbcType=VARCHAR}, #{detailTitle,jdbcType=VARCHAR}, #{productCategoryName,jdbcType=VARCHAR}, 
      #{regionId,jdbcType=BIGINT}, #{region,jdbcType=VARCHAR}, #{isBargain,jdbcType=INTEGER}, 
      #{chargeStandardId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{description,jdbcType=LONGVARCHAR}, #{detailDesc,jdbcType=LONGVARCHAR}, #{detailHtml,jdbcType=LONGVARCHAR}, 
      #{chargeStandardJson,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="map">
    <selectKey keyProperty="record.id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_product
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach close=")" collection="selective" item="column" open="(" separator=",">
          ${column.escapedColumnName}
        </foreach>
      </when>
      <otherwise>
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="record.productCategoryId != null">
            product_category_id,
          </if>
          <if test="record.name != null">
            `name`,
          </if>
          <if test="record.pic != null">
            pic,
          </if>
          <if test="record.productSn != null">
            product_sn,
          </if>
          <if test="record.deleteStatus != null">
            delete_status,
          </if>
          <if test="record.publishStatus != null">
            publish_status,
          </if>
          <if test="record.newStatus != null">
            new_status,
          </if>
          <if test="record.recommendStatus != null">
            recommend_status,
          </if>
          <if test="record.verifyStatus != null">
            verify_status,
          </if>
          <if test="record.sort != null">
            sort,
          </if>
          <if test="record.sale != null">
            sale,
          </if>
          <if test="record.price != null">
            price,
          </if>
          <if test="record.promotionPrice != null">
            promotion_price,
          </if>
          <if test="record.subTitle != null">
            sub_title,
          </if>
          <if test="record.keywords != null">
            keywords,
          </if>
          <if test="record.albumPics != null">
            album_pics,
          </if>
          <if test="record.detailTitle != null">
            detail_title,
          </if>
          <if test="record.productCategoryName != null">
            product_category_name,
          </if>
          <if test="record.regionId != null">
            region_id,
          </if>
          <if test="record.region != null">
            region,
          </if>
          <if test="record.isBargain != null">
            is_bargain,
          </if>
          <if test="record.chargeStandardId != null">
            charge_standard_id,
          </if>
          <if test="record.createTime != null">
            create_time,
          </if>
          <if test="record.updateTime != null">
            update_time,
          </if>
          <if test="record.description != null">
            description,
          </if>
          <if test="record.detailDesc != null">
            detail_desc,
          </if>
          <if test="record.detailHtml != null">
            detail_html,
          </if>
          <if test="record.chargeStandardJson != null">
            charge_standard_json,
          </if>
        </trim>
        <trim prefix="(" suffix=")" suffixOverrides="," />
      </otherwise>
    </choose>
    values
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach close=")" collection="selective" item="column" open="(" separator=",">
          #{record.${column.javaProperty},jdbcType=${column.jdbcType}}
        </foreach>
      </when>
      <otherwise>
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="record.productCategoryId != null">
            #{record.productCategoryId,jdbcType=BIGINT},
          </if>
          <if test="record.name != null">
            #{record.name,jdbcType=VARCHAR},
          </if>
          <if test="record.pic != null">
            #{record.pic,jdbcType=VARCHAR},
          </if>
          <if test="record.productSn != null">
            #{record.productSn,jdbcType=VARCHAR},
          </if>
          <if test="record.deleteStatus != null">
            #{record.deleteStatus,jdbcType=INTEGER},
          </if>
          <if test="record.publishStatus != null">
            #{record.publishStatus,jdbcType=INTEGER},
          </if>
          <if test="record.newStatus != null">
            #{record.newStatus,jdbcType=INTEGER},
          </if>
          <if test="record.recommendStatus != null">
            #{record.recommendStatus,jdbcType=INTEGER},
          </if>
          <if test="record.verifyStatus != null">
            #{record.verifyStatus,jdbcType=INTEGER},
          </if>
          <if test="record.sort != null">
            #{record.sort,jdbcType=INTEGER},
          </if>
          <if test="record.sale != null">
            #{record.sale,jdbcType=INTEGER},
          </if>
          <if test="record.price != null">
            #{record.price,jdbcType=DECIMAL},
          </if>
          <if test="record.promotionPrice != null">
            #{record.promotionPrice,jdbcType=DECIMAL},
          </if>
          <if test="record.subTitle != null">
            #{record.subTitle,jdbcType=VARCHAR},
          </if>
          <if test="record.keywords != null">
            #{record.keywords,jdbcType=VARCHAR},
          </if>
          <if test="record.albumPics != null">
            #{record.albumPics,jdbcType=VARCHAR},
          </if>
          <if test="record.detailTitle != null">
            #{record.detailTitle,jdbcType=VARCHAR},
          </if>
          <if test="record.productCategoryName != null">
            #{record.productCategoryName,jdbcType=VARCHAR},
          </if>
          <if test="record.regionId != null">
            #{record.regionId,jdbcType=BIGINT},
          </if>
          <if test="record.region != null">
            #{record.region,jdbcType=VARCHAR},
          </if>
          <if test="record.isBargain != null">
            #{record.isBargain,jdbcType=INTEGER},
          </if>
          <if test="record.chargeStandardId != null">
            #{record.chargeStandardId,jdbcType=BIGINT},
          </if>
          <if test="record.createTime != null">
            #{record.createTime,jdbcType=TIMESTAMP},
          </if>
          <if test="record.updateTime != null">
            #{record.updateTime,jdbcType=TIMESTAMP},
          </if>
          <if test="record.description != null">
            #{record.description,jdbcType=LONGVARCHAR},
          </if>
          <if test="record.detailDesc != null">
            #{record.detailDesc,jdbcType=LONGVARCHAR},
          </if>
          <if test="record.detailHtml != null">
            #{record.detailHtml,jdbcType=LONGVARCHAR},
          </if>
          <if test="record.chargeStandardJson != null">
            #{record.chargeStandardJson,jdbcType=LONGVARCHAR},
          </if>
        </trim>
      </otherwise>
    </choose>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.example.PmsProductExample" resultType="java.lang.Long">
    select count(*) from pms_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pms_product
    SET
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.escapedColumnName} = #{record.${column.javaProperty},jdbcType=${column.jdbcType}}
        </foreach>
      </when>
      <otherwise>
        <trim suffixOverrides=",">
          <if test="record.id != null">
            id = #{record.id,jdbcType=BIGINT},
          </if>
          <if test="record.productCategoryId != null">
            product_category_id = #{record.productCategoryId,jdbcType=BIGINT},
          </if>
          <if test="record.name != null">
            `name` = #{record.name,jdbcType=VARCHAR},
          </if>
          <if test="record.pic != null">
            pic = #{record.pic,jdbcType=VARCHAR},
          </if>
          <if test="record.productSn != null">
            product_sn = #{record.productSn,jdbcType=VARCHAR},
          </if>
          <if test="record.deleteStatus != null">
            delete_status = #{record.deleteStatus,jdbcType=INTEGER},
          </if>
          <if test="record.publishStatus != null">
            publish_status = #{record.publishStatus,jdbcType=INTEGER},
          </if>
          <if test="record.newStatus != null">
            new_status = #{record.newStatus,jdbcType=INTEGER},
          </if>
          <if test="record.recommendStatus != null">
            recommend_status = #{record.recommendStatus,jdbcType=INTEGER},
          </if>
          <if test="record.verifyStatus != null">
            verify_status = #{record.verifyStatus,jdbcType=INTEGER},
          </if>
          <if test="record.sort != null">
            sort = #{record.sort,jdbcType=INTEGER},
          </if>
          <if test="record.sale != null">
            sale = #{record.sale,jdbcType=INTEGER},
          </if>
          <if test="record.price != null">
            price = #{record.price,jdbcType=DECIMAL},
          </if>
          <if test="record.promotionPrice != null">
            promotion_price = #{record.promotionPrice,jdbcType=DECIMAL},
          </if>
          <if test="record.subTitle != null">
            sub_title = #{record.subTitle,jdbcType=VARCHAR},
          </if>
          <if test="record.keywords != null">
            keywords = #{record.keywords,jdbcType=VARCHAR},
          </if>
          <if test="record.albumPics != null">
            album_pics = #{record.albumPics,jdbcType=VARCHAR},
          </if>
          <if test="record.detailTitle != null">
            detail_title = #{record.detailTitle,jdbcType=VARCHAR},
          </if>
          <if test="record.productCategoryName != null">
            product_category_name = #{record.productCategoryName,jdbcType=VARCHAR},
          </if>
          <if test="record.regionId != null">
            region_id = #{record.regionId,jdbcType=BIGINT},
          </if>
          <if test="record.region != null">
            region = #{record.region,jdbcType=VARCHAR},
          </if>
          <if test="record.isBargain != null">
            is_bargain = #{record.isBargain,jdbcType=INTEGER},
          </if>
          <if test="record.chargeStandardId != null">
            charge_standard_id = #{record.chargeStandardId,jdbcType=BIGINT},
          </if>
          <if test="record.createTime != null">
            create_time = #{record.createTime,jdbcType=TIMESTAMP},
          </if>
          <if test="record.updateTime != null">
            update_time = #{record.updateTime,jdbcType=TIMESTAMP},
          </if>
          <if test="record.description != null">
            description = #{record.description,jdbcType=LONGVARCHAR},
          </if>
          <if test="record.detailDesc != null">
            detail_desc = #{record.detailDesc,jdbcType=LONGVARCHAR},
          </if>
          <if test="record.detailHtml != null">
            detail_html = #{record.detailHtml,jdbcType=LONGVARCHAR},
          </if>
          <if test="record.chargeStandardJson != null">
            charge_standard_json = #{record.chargeStandardJson,jdbcType=LONGVARCHAR},
          </if>
        </trim>
      </otherwise>
    </choose>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update pms_product
    set id = #{record.id,jdbcType=BIGINT},
      product_category_id = #{record.productCategoryId,jdbcType=BIGINT},
      `name` = #{record.name,jdbcType=VARCHAR},
      pic = #{record.pic,jdbcType=VARCHAR},
      product_sn = #{record.productSn,jdbcType=VARCHAR},
      delete_status = #{record.deleteStatus,jdbcType=INTEGER},
      publish_status = #{record.publishStatus,jdbcType=INTEGER},
      new_status = #{record.newStatus,jdbcType=INTEGER},
      recommend_status = #{record.recommendStatus,jdbcType=INTEGER},
      verify_status = #{record.verifyStatus,jdbcType=INTEGER},
      sort = #{record.sort,jdbcType=INTEGER},
      sale = #{record.sale,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DECIMAL},
      promotion_price = #{record.promotionPrice,jdbcType=DECIMAL},
      sub_title = #{record.subTitle,jdbcType=VARCHAR},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      album_pics = #{record.albumPics,jdbcType=VARCHAR},
      detail_title = #{record.detailTitle,jdbcType=VARCHAR},
      product_category_name = #{record.productCategoryName,jdbcType=VARCHAR},
      region_id = #{record.regionId,jdbcType=BIGINT},
      region = #{record.region,jdbcType=VARCHAR},
      is_bargain = #{record.isBargain,jdbcType=INTEGER},
      charge_standard_id = #{record.chargeStandardId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      description = #{record.description,jdbcType=LONGVARCHAR},
      detail_desc = #{record.detailDesc,jdbcType=LONGVARCHAR},
      detail_html = #{record.detailHtml,jdbcType=LONGVARCHAR},
      charge_standard_json = #{record.chargeStandardJson,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pms_product
    set id = #{record.id,jdbcType=BIGINT},
      product_category_id = #{record.productCategoryId,jdbcType=BIGINT},
      `name` = #{record.name,jdbcType=VARCHAR},
      pic = #{record.pic,jdbcType=VARCHAR},
      product_sn = #{record.productSn,jdbcType=VARCHAR},
      delete_status = #{record.deleteStatus,jdbcType=INTEGER},
      publish_status = #{record.publishStatus,jdbcType=INTEGER},
      new_status = #{record.newStatus,jdbcType=INTEGER},
      recommend_status = #{record.recommendStatus,jdbcType=INTEGER},
      verify_status = #{record.verifyStatus,jdbcType=INTEGER},
      sort = #{record.sort,jdbcType=INTEGER},
      sale = #{record.sale,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DECIMAL},
      promotion_price = #{record.promotionPrice,jdbcType=DECIMAL},
      sub_title = #{record.subTitle,jdbcType=VARCHAR},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      album_pics = #{record.albumPics,jdbcType=VARCHAR},
      detail_title = #{record.detailTitle,jdbcType=VARCHAR},
      product_category_name = #{record.productCategoryName,jdbcType=VARCHAR},
      region_id = #{record.regionId,jdbcType=BIGINT},
      region = #{record.region,jdbcType=VARCHAR},
      is_bargain = #{record.isBargain,jdbcType=INTEGER},
      charge_standard_id = #{record.chargeStandardId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="map">
    update pms_product
    SET
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.escapedColumnName} = #{record.${column.javaProperty},jdbcType=${column.jdbcType}}
        </foreach>
      </when>
      <otherwise>
        <trim suffixOverrides=",">
          <if test="record.productCategoryId != null">
            product_category_id = #{record.productCategoryId,jdbcType=BIGINT},
          </if>
          <if test="record.name != null">
            `name` = #{record.name,jdbcType=VARCHAR},
          </if>
          <if test="record.pic != null">
            pic = #{record.pic,jdbcType=VARCHAR},
          </if>
          <if test="record.productSn != null">
            product_sn = #{record.productSn,jdbcType=VARCHAR},
          </if>
          <if test="record.deleteStatus != null">
            delete_status = #{record.deleteStatus,jdbcType=INTEGER},
          </if>
          <if test="record.publishStatus != null">
            publish_status = #{record.publishStatus,jdbcType=INTEGER},
          </if>
          <if test="record.newStatus != null">
            new_status = #{record.newStatus,jdbcType=INTEGER},
          </if>
          <if test="record.recommendStatus != null">
            recommend_status = #{record.recommendStatus,jdbcType=INTEGER},
          </if>
          <if test="record.verifyStatus != null">
            verify_status = #{record.verifyStatus,jdbcType=INTEGER},
          </if>
          <if test="record.sort != null">
            sort = #{record.sort,jdbcType=INTEGER},
          </if>
          <if test="record.sale != null">
            sale = #{record.sale,jdbcType=INTEGER},
          </if>
          <if test="record.price != null">
            price = #{record.price,jdbcType=DECIMAL},
          </if>
          <if test="record.promotionPrice != null">
            promotion_price = #{record.promotionPrice,jdbcType=DECIMAL},
          </if>
          <if test="record.subTitle != null">
            sub_title = #{record.subTitle,jdbcType=VARCHAR},
          </if>
          <if test="record.keywords != null">
            keywords = #{record.keywords,jdbcType=VARCHAR},
          </if>
          <if test="record.albumPics != null">
            album_pics = #{record.albumPics,jdbcType=VARCHAR},
          </if>
          <if test="record.detailTitle != null">
            detail_title = #{record.detailTitle,jdbcType=VARCHAR},
          </if>
          <if test="record.productCategoryName != null">
            product_category_name = #{record.productCategoryName,jdbcType=VARCHAR},
          </if>
          <if test="record.regionId != null">
            region_id = #{record.regionId,jdbcType=BIGINT},
          </if>
          <if test="record.region != null">
            region = #{record.region,jdbcType=VARCHAR},
          </if>
          <if test="record.isBargain != null">
            is_bargain = #{record.isBargain,jdbcType=INTEGER},
          </if>
          <if test="record.chargeStandardId != null">
            charge_standard_id = #{record.chargeStandardId,jdbcType=BIGINT},
          </if>
          <if test="record.createTime != null">
            create_time = #{record.createTime,jdbcType=TIMESTAMP},
          </if>
          <if test="record.updateTime != null">
            update_time = #{record.updateTime,jdbcType=TIMESTAMP},
          </if>
          <if test="record.description != null">
            description = #{record.description,jdbcType=LONGVARCHAR},
          </if>
          <if test="record.detailDesc != null">
            detail_desc = #{record.detailDesc,jdbcType=LONGVARCHAR},
          </if>
          <if test="record.detailHtml != null">
            detail_html = #{record.detailHtml,jdbcType=LONGVARCHAR},
          </if>
          <if test="record.chargeStandardJson != null">
            charge_standard_json = #{record.chargeStandardJson,jdbcType=LONGVARCHAR},
          </if>
        </trim>
      </otherwise>
    </choose>
    where id = #{record.id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.macro.mall.model.PmsProduct">
    update pms_product
    set product_category_id = #{productCategoryId,jdbcType=BIGINT},
      `name` = #{name,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      product_sn = #{productSn,jdbcType=VARCHAR},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      publish_status = #{publishStatus,jdbcType=INTEGER},
      new_status = #{newStatus,jdbcType=INTEGER},
      recommend_status = #{recommendStatus,jdbcType=INTEGER},
      verify_status = #{verifyStatus,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      sale = #{sale,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      promotion_price = #{promotionPrice,jdbcType=DECIMAL},
      sub_title = #{subTitle,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      album_pics = #{albumPics,jdbcType=VARCHAR},
      detail_title = #{detailTitle,jdbcType=VARCHAR},
      product_category_name = #{productCategoryName,jdbcType=VARCHAR},
      region_id = #{regionId,jdbcType=BIGINT},
      region = #{region,jdbcType=VARCHAR},
      is_bargain = #{isBargain,jdbcType=INTEGER},
      charge_standard_id = #{chargeStandardId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=LONGVARCHAR},
      detail_desc = #{detailDesc,jdbcType=LONGVARCHAR},
      detail_html = #{detailHtml,jdbcType=LONGVARCHAR},
      charge_standard_json = #{chargeStandardJson,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.PmsProduct">
    update pms_product
    set product_category_id = #{productCategoryId,jdbcType=BIGINT},
      `name` = #{name,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      product_sn = #{productSn,jdbcType=VARCHAR},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      publish_status = #{publishStatus,jdbcType=INTEGER},
      new_status = #{newStatus,jdbcType=INTEGER},
      recommend_status = #{recommendStatus,jdbcType=INTEGER},
      verify_status = #{verifyStatus,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      sale = #{sale,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      promotion_price = #{promotionPrice,jdbcType=DECIMAL},
      sub_title = #{subTitle,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      album_pics = #{albumPics,jdbcType=VARCHAR},
      detail_title = #{detailTitle,jdbcType=VARCHAR},
      product_category_name = #{productCategoryName,jdbcType=VARCHAR},
      region_id = #{regionId,jdbcType=BIGINT},
      region = #{region,jdbcType=VARCHAR},
      is_bargain = #{isBargain,jdbcType=INTEGER},
      charge_standard_id = #{chargeStandardId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectOneByExample" parameterType="com.macro.mall.example.PmsProductExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from pms_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
  <select id="selectOneByExampleWithBLOBs" parameterType="com.macro.mall.example.PmsProductExample" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pms_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
  <select id="selectOneByExampleSelective" parameterType="map" resultMap="ResultMapWithBLOBs">
    select
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.aliasedEscapedColumnName}
        </foreach>
      </when>
      <otherwise>
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
      </otherwise>
    </choose>
    from pms_product
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example != null and example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
    limit 1
  </select>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    insert into pms_product
    (product_category_id, `name`, pic, product_sn, delete_status, publish_status, new_status, 
      recommend_status, verify_status, sort, sale, price, promotion_price, sub_title, 
      keywords, album_pics, detail_title, product_category_name, region_id, region, is_bargain, 
      charge_standard_id, create_time, update_time, description, detail_desc, detail_html, 
      charge_standard_json)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.productCategoryId,jdbcType=BIGINT}, #{item.name,jdbcType=VARCHAR}, #{item.pic,jdbcType=VARCHAR}, 
        #{item.productSn,jdbcType=VARCHAR}, #{item.deleteStatus,jdbcType=INTEGER}, #{item.publishStatus,jdbcType=INTEGER}, 
        #{item.newStatus,jdbcType=INTEGER}, #{item.recommendStatus,jdbcType=INTEGER}, #{item.verifyStatus,jdbcType=INTEGER}, 
        #{item.sort,jdbcType=INTEGER}, #{item.sale,jdbcType=INTEGER}, #{item.price,jdbcType=DECIMAL}, 
        #{item.promotionPrice,jdbcType=DECIMAL}, #{item.subTitle,jdbcType=VARCHAR}, #{item.keywords,jdbcType=VARCHAR}, 
        #{item.albumPics,jdbcType=VARCHAR}, #{item.detailTitle,jdbcType=VARCHAR}, #{item.productCategoryName,jdbcType=VARCHAR}, 
        #{item.regionId,jdbcType=BIGINT}, #{item.region,jdbcType=VARCHAR}, #{item.isBargain,jdbcType=INTEGER}, 
        #{item.chargeStandardId,jdbcType=BIGINT}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.updateTime,jdbcType=TIMESTAMP}, #{item.description,jdbcType=LONGVARCHAR}, 
        #{item.detailDesc,jdbcType=LONGVARCHAR}, #{item.detailHtml,jdbcType=LONGVARCHAR}, 
        #{item.chargeStandardJson,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" keyColumn="id" keyProperty="list.id" parameterType="map" useGeneratedKeys="true">
    insert into pms_product (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'product_category_id'.toString() == column.value">
          #{item.productCategoryId,jdbcType=BIGINT}
        </if>
        <if test="'name'.toString() == column.value">
          #{item.name,jdbcType=VARCHAR}
        </if>
        <if test="'pic'.toString() == column.value">
          #{item.pic,jdbcType=VARCHAR}
        </if>
        <if test="'product_sn'.toString() == column.value">
          #{item.productSn,jdbcType=VARCHAR}
        </if>
        <if test="'delete_status'.toString() == column.value">
          #{item.deleteStatus,jdbcType=INTEGER}
        </if>
        <if test="'publish_status'.toString() == column.value">
          #{item.publishStatus,jdbcType=INTEGER}
        </if>
        <if test="'new_status'.toString() == column.value">
          #{item.newStatus,jdbcType=INTEGER}
        </if>
        <if test="'recommend_status'.toString() == column.value">
          #{item.recommendStatus,jdbcType=INTEGER}
        </if>
        <if test="'verify_status'.toString() == column.value">
          #{item.verifyStatus,jdbcType=INTEGER}
        </if>
        <if test="'sort'.toString() == column.value">
          #{item.sort,jdbcType=INTEGER}
        </if>
        <if test="'sale'.toString() == column.value">
          #{item.sale,jdbcType=INTEGER}
        </if>
        <if test="'price'.toString() == column.value">
          #{item.price,jdbcType=DECIMAL}
        </if>
        <if test="'promotion_price'.toString() == column.value">
          #{item.promotionPrice,jdbcType=DECIMAL}
        </if>
        <if test="'sub_title'.toString() == column.value">
          #{item.subTitle,jdbcType=VARCHAR}
        </if>
        <if test="'keywords'.toString() == column.value">
          #{item.keywords,jdbcType=VARCHAR}
        </if>
        <if test="'album_pics'.toString() == column.value">
          #{item.albumPics,jdbcType=VARCHAR}
        </if>
        <if test="'detail_title'.toString() == column.value">
          #{item.detailTitle,jdbcType=VARCHAR}
        </if>
        <if test="'product_category_name'.toString() == column.value">
          #{item.productCategoryName,jdbcType=VARCHAR}
        </if>
        <if test="'region_id'.toString() == column.value">
          #{item.regionId,jdbcType=BIGINT}
        </if>
        <if test="'region'.toString() == column.value">
          #{item.region,jdbcType=VARCHAR}
        </if>
        <if test="'is_bargain'.toString() == column.value">
          #{item.isBargain,jdbcType=INTEGER}
        </if>
        <if test="'charge_standard_id'.toString() == column.value">
          #{item.chargeStandardId,jdbcType=BIGINT}
        </if>
        <if test="'create_time'.toString() == column.value">
          #{item.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'update_time'.toString() == column.value">
          #{item.updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'description'.toString() == column.value">
          #{item.description,jdbcType=LONGVARCHAR}
        </if>
        <if test="'detail_desc'.toString() == column.value">
          #{item.detailDesc,jdbcType=LONGVARCHAR}
        </if>
        <if test="'detail_html'.toString() == column.value">
          #{item.detailHtml,jdbcType=LONGVARCHAR}
        </if>
        <if test="'charge_standard_json'.toString() == column.value">
          #{item.chargeStandardJson,jdbcType=LONGVARCHAR}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>