<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.YxxWorkerOrderCountMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.YxxWorkerOrderCount">
    <id column="worker_id" jdbcType="BIGINT" property="workerId" />
    <result column="assign_amount" jdbcType="INTEGER" property="assignAmount" />
    <result column="distribute_amount" jdbcType="INTEGER" property="distributeAmount" />
    <result column="rush_amount" jdbcType="INTEGER" property="rushAmount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    worker_id, assign_amount, distribute_amount, rush_amount
  </sql>
  <select id="selectByExample" parameterType="com.macro.mall.example.YxxWorkerOrderCountExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yxx_worker_order_count
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleSelective" parameterType="map" resultMap="BaseResultMap">
    select
    <if test="example != null and example.distinct">
      distinct
    </if>
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.aliasedEscapedColumnName}
        </foreach>
      </when>
      <otherwise>
        <include refid="Base_Column_List" />
      </otherwise>
    </choose>
    from yxx_worker_order_count
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example != null and example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yxx_worker_order_count
    where worker_id = #{workerId,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKeySelective" parameterType="map" resultMap="BaseResultMap">
    select
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.aliasedEscapedColumnName}
        </foreach>
      </when>
      <otherwise>
        <include refid="Base_Column_List" />
      </otherwise>
    </choose>
    from yxx_worker_order_count
    where worker_id = #{workerId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from yxx_worker_order_count
    where worker_id = #{workerId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.example.YxxWorkerOrderCountExample">
    delete from yxx_worker_order_count
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.YxxWorkerOrderCount">
    insert into yxx_worker_order_count (worker_id, assign_amount, distribute_amount, 
      rush_amount)
    values (#{workerId,jdbcType=BIGINT}, #{assignAmount,jdbcType=INTEGER}, #{distributeAmount,jdbcType=INTEGER}, 
      #{rushAmount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="map">
    insert into yxx_worker_order_count
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach close=")" collection="selective" item="column" open="(" separator=",">
          ${column.escapedColumnName}
        </foreach>
      </when>
      <otherwise>
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="record.workerId != null">
            worker_id,
          </if>
          <if test="record.assignAmount != null">
            assign_amount,
          </if>
          <if test="record.distributeAmount != null">
            distribute_amount,
          </if>
          <if test="record.rushAmount != null">
            rush_amount,
          </if>
        </trim>
        <trim prefix="(" suffix=")" suffixOverrides="," />
      </otherwise>
    </choose>
    values
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach close=")" collection="selective" item="column" open="(" separator=",">
          #{record.${column.javaProperty},jdbcType=${column.jdbcType}}
        </foreach>
      </when>
      <otherwise>
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="record.workerId != null">
            #{record.workerId,jdbcType=BIGINT},
          </if>
          <if test="record.assignAmount != null">
            #{record.assignAmount,jdbcType=INTEGER},
          </if>
          <if test="record.distributeAmount != null">
            #{record.distributeAmount,jdbcType=INTEGER},
          </if>
          <if test="record.rushAmount != null">
            #{record.rushAmount,jdbcType=INTEGER},
          </if>
        </trim>
      </otherwise>
    </choose>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.example.YxxWorkerOrderCountExample" resultType="java.lang.Long">
    select count(*) from yxx_worker_order_count
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update yxx_worker_order_count
    SET
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.escapedColumnName} = #{record.${column.javaProperty},jdbcType=${column.jdbcType}}
        </foreach>
      </when>
      <otherwise>
        <trim suffixOverrides=",">
          <if test="record.workerId != null">
            worker_id = #{record.workerId,jdbcType=BIGINT},
          </if>
          <if test="record.assignAmount != null">
            assign_amount = #{record.assignAmount,jdbcType=INTEGER},
          </if>
          <if test="record.distributeAmount != null">
            distribute_amount = #{record.distributeAmount,jdbcType=INTEGER},
          </if>
          <if test="record.rushAmount != null">
            rush_amount = #{record.rushAmount,jdbcType=INTEGER},
          </if>
        </trim>
      </otherwise>
    </choose>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update yxx_worker_order_count
    set worker_id = #{record.workerId,jdbcType=BIGINT},
      assign_amount = #{record.assignAmount,jdbcType=INTEGER},
      distribute_amount = #{record.distributeAmount,jdbcType=INTEGER},
      rush_amount = #{record.rushAmount,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="map">
    update yxx_worker_order_count
    SET
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.escapedColumnName} = #{record.${column.javaProperty},jdbcType=${column.jdbcType}}
        </foreach>
      </when>
      <otherwise>
        <trim suffixOverrides=",">
          <if test="record.assignAmount != null">
            assign_amount = #{record.assignAmount,jdbcType=INTEGER},
          </if>
          <if test="record.distributeAmount != null">
            distribute_amount = #{record.distributeAmount,jdbcType=INTEGER},
          </if>
          <if test="record.rushAmount != null">
            rush_amount = #{record.rushAmount,jdbcType=INTEGER},
          </if>
        </trim>
      </otherwise>
    </choose>
    where worker_id = #{record.workerId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.YxxWorkerOrderCount">
    update yxx_worker_order_count
    set assign_amount = #{assignAmount,jdbcType=INTEGER},
      distribute_amount = #{distributeAmount,jdbcType=INTEGER},
      rush_amount = #{rushAmount,jdbcType=INTEGER}
    where worker_id = #{workerId,jdbcType=BIGINT}
  </update>
  <select id="selectOneByExample" parameterType="com.macro.mall.example.YxxWorkerOrderCountExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from yxx_worker_order_count
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
  <select id="selectOneByExampleSelective" parameterType="map" resultMap="BaseResultMap">
    select
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.aliasedEscapedColumnName}
        </foreach>
      </when>
      <otherwise>
        <include refid="Base_Column_List" />
      </otherwise>
    </choose>
    from yxx_worker_order_count
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example != null and example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
    limit 1
  </select>
  <insert id="batchInsert" parameterType="map">
    insert into yxx_worker_order_count
    (worker_id, assign_amount, distribute_amount, rush_amount)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.workerId,jdbcType=BIGINT}, #{item.assignAmount,jdbcType=INTEGER}, #{item.distributeAmount,jdbcType=INTEGER}, 
        #{item.rushAmount,jdbcType=INTEGER})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" parameterType="map">
    insert into yxx_worker_order_count (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'worker_id'.toString() == column.value">
          #{item.workerId,jdbcType=BIGINT}
        </if>
        <if test="'assign_amount'.toString() == column.value">
          #{item.assignAmount,jdbcType=INTEGER}
        </if>
        <if test="'distribute_amount'.toString() == column.value">
          #{item.distributeAmount,jdbcType=INTEGER}
        </if>
        <if test="'rush_amount'.toString() == column.value">
          #{item.rushAmount,jdbcType=INTEGER}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>