<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.YxxWorkerMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.YxxWorker">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="enable" jdbcType="INTEGER" property="enable" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="contract_address" jdbcType="VARCHAR" property="contractAddress" />
    <result column="level_id" jdbcType="INTEGER" property="levelId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="service_score" jdbcType="INTEGER" property="serviceScore" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="region_id" jdbcType="BIGINT" property="regionId" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="zone_id" jdbcType="BIGINT" property="zoneId" />
    <result column="wx_open_id" jdbcType="VARCHAR" property="wxOpenId" />
    <result column="wx_union_id" jdbcType="VARCHAR" property="wxUnionId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="invitation_code" jdbcType="VARCHAR" property="invitationCode" />
    <result column="id_no" jdbcType="VARCHAR" property="idNo" />
    <result column="id_photo" jdbcType="VARCHAR" property="idPhoto" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, username, real_name, sex, `password`, phone, `enable`, `status`, contract_address, 
    level_id, address, `location`, service_score, icon, birthday, region_id, region, 
    zone_id, wx_open_id, wx_union_id, parent_id, invitation_code, id_no, id_photo, create_time, 
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.macro.mall.example.YxxWorkerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yxx_worker
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleSelective" parameterType="map" resultMap="BaseResultMap">
    select
    <if test="example != null and example.distinct">
      distinct
    </if>
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.aliasedEscapedColumnName}
        </foreach>
      </when>
      <otherwise>
        <include refid="Base_Column_List" />
      </otherwise>
    </choose>
    from yxx_worker
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example != null and example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yxx_worker
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKeySelective" parameterType="map" resultMap="BaseResultMap">
    select
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.aliasedEscapedColumnName}
        </foreach>
      </when>
      <otherwise>
        <include refid="Base_Column_List" />
      </otherwise>
    </choose>
    from yxx_worker
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from yxx_worker
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.example.YxxWorkerExample">
    delete from yxx_worker
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.YxxWorker">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into yxx_worker (username, real_name, sex, 
      `password`, phone, `enable`, 
      `status`, contract_address, level_id, 
      address, `location`, service_score, 
      icon, birthday, region_id, 
      region, zone_id, wx_open_id, 
      wx_union_id, parent_id, invitation_code, 
      id_no, id_photo, create_time, 
      update_time)
    values (#{username,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{enable,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{contractAddress,jdbcType=VARCHAR}, #{levelId,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{serviceScore,jdbcType=INTEGER}, 
      #{icon,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{regionId,jdbcType=BIGINT}, 
      #{region,jdbcType=VARCHAR}, #{zoneId,jdbcType=BIGINT}, #{wxOpenId,jdbcType=VARCHAR}, 
      #{wxUnionId,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT}, #{invitationCode,jdbcType=VARCHAR}, 
      #{idNo,jdbcType=VARCHAR}, #{idPhoto,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="map">
    <selectKey keyProperty="record.id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into yxx_worker
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach close=")" collection="selective" item="column" open="(" separator=",">
          ${column.escapedColumnName}
        </foreach>
      </when>
      <otherwise>
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="record.username != null">
            username,
          </if>
          <if test="record.realName != null">
            real_name,
          </if>
          <if test="record.sex != null">
            sex,
          </if>
          <if test="record.password != null">
            `password`,
          </if>
          <if test="record.phone != null">
            phone,
          </if>
          <if test="record.enable != null">
            `enable`,
          </if>
          <if test="record.status != null">
            `status`,
          </if>
          <if test="record.contractAddress != null">
            contract_address,
          </if>
          <if test="record.levelId != null">
            level_id,
          </if>
          <if test="record.address != null">
            address,
          </if>
          <if test="record.location != null">
            `location`,
          </if>
          <if test="record.serviceScore != null">
            service_score,
          </if>
          <if test="record.icon != null">
            icon,
          </if>
          <if test="record.birthday != null">
            birthday,
          </if>
          <if test="record.regionId != null">
            region_id,
          </if>
          <if test="record.region != null">
            region,
          </if>
          <if test="record.zoneId != null">
            zone_id,
          </if>
          <if test="record.wxOpenId != null">
            wx_open_id,
          </if>
          <if test="record.wxUnionId != null">
            wx_union_id,
          </if>
          <if test="record.parentId != null">
            parent_id,
          </if>
          <if test="record.invitationCode != null">
            invitation_code,
          </if>
          <if test="record.idNo != null">
            id_no,
          </if>
          <if test="record.idPhoto != null">
            id_photo,
          </if>
          <if test="record.createTime != null">
            create_time,
          </if>
          <if test="record.updateTime != null">
            update_time,
          </if>
        </trim>
        <trim prefix="(" suffix=")" suffixOverrides="," />
      </otherwise>
    </choose>
    values
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach close=")" collection="selective" item="column" open="(" separator=",">
          #{record.${column.javaProperty},jdbcType=${column.jdbcType}}
        </foreach>
      </when>
      <otherwise>
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="record.username != null">
            #{record.username,jdbcType=VARCHAR},
          </if>
          <if test="record.realName != null">
            #{record.realName,jdbcType=VARCHAR},
          </if>
          <if test="record.sex != null">
            #{record.sex,jdbcType=INTEGER},
          </if>
          <if test="record.password != null">
            #{record.password,jdbcType=VARCHAR},
          </if>
          <if test="record.phone != null">
            #{record.phone,jdbcType=VARCHAR},
          </if>
          <if test="record.enable != null">
            #{record.enable,jdbcType=INTEGER},
          </if>
          <if test="record.status != null">
            #{record.status,jdbcType=INTEGER},
          </if>
          <if test="record.contractAddress != null">
            #{record.contractAddress,jdbcType=VARCHAR},
          </if>
          <if test="record.levelId != null">
            #{record.levelId,jdbcType=INTEGER},
          </if>
          <if test="record.address != null">
            #{record.address,jdbcType=VARCHAR},
          </if>
          <if test="record.location != null">
            #{record.location,jdbcType=VARCHAR},
          </if>
          <if test="record.serviceScore != null">
            #{record.serviceScore,jdbcType=INTEGER},
          </if>
          <if test="record.icon != null">
            #{record.icon,jdbcType=VARCHAR},
          </if>
          <if test="record.birthday != null">
            #{record.birthday,jdbcType=DATE},
          </if>
          <if test="record.regionId != null">
            #{record.regionId,jdbcType=BIGINT},
          </if>
          <if test="record.region != null">
            #{record.region,jdbcType=VARCHAR},
          </if>
          <if test="record.zoneId != null">
            #{record.zoneId,jdbcType=BIGINT},
          </if>
          <if test="record.wxOpenId != null">
            #{record.wxOpenId,jdbcType=VARCHAR},
          </if>
          <if test="record.wxUnionId != null">
            #{record.wxUnionId,jdbcType=VARCHAR},
          </if>
          <if test="record.parentId != null">
            #{record.parentId,jdbcType=BIGINT},
          </if>
          <if test="record.invitationCode != null">
            #{record.invitationCode,jdbcType=VARCHAR},
          </if>
          <if test="record.idNo != null">
            #{record.idNo,jdbcType=VARCHAR},
          </if>
          <if test="record.idPhoto != null">
            #{record.idPhoto,jdbcType=VARCHAR},
          </if>
          <if test="record.createTime != null">
            #{record.createTime,jdbcType=TIMESTAMP},
          </if>
          <if test="record.updateTime != null">
            #{record.updateTime,jdbcType=TIMESTAMP},
          </if>
        </trim>
      </otherwise>
    </choose>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.example.YxxWorkerExample" resultType="java.lang.Long">
    select count(*) from yxx_worker
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update yxx_worker
    SET
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.escapedColumnName} = #{record.${column.javaProperty},jdbcType=${column.jdbcType}}
        </foreach>
      </when>
      <otherwise>
        <trim suffixOverrides=",">
          <if test="record.id != null">
            id = #{record.id,jdbcType=BIGINT},
          </if>
          <if test="record.username != null">
            username = #{record.username,jdbcType=VARCHAR},
          </if>
          <if test="record.realName != null">
            real_name = #{record.realName,jdbcType=VARCHAR},
          </if>
          <if test="record.sex != null">
            sex = #{record.sex,jdbcType=INTEGER},
          </if>
          <if test="record.password != null">
            `password` = #{record.password,jdbcType=VARCHAR},
          </if>
          <if test="record.phone != null">
            phone = #{record.phone,jdbcType=VARCHAR},
          </if>
          <if test="record.enable != null">
            `enable` = #{record.enable,jdbcType=INTEGER},
          </if>
          <if test="record.status != null">
            `status` = #{record.status,jdbcType=INTEGER},
          </if>
          <if test="record.contractAddress != null">
            contract_address = #{record.contractAddress,jdbcType=VARCHAR},
          </if>
          <if test="record.levelId != null">
            level_id = #{record.levelId,jdbcType=INTEGER},
          </if>
          <if test="record.address != null">
            address = #{record.address,jdbcType=VARCHAR},
          </if>
          <if test="record.location != null">
            `location` = #{record.location,jdbcType=VARCHAR},
          </if>
          <if test="record.serviceScore != null">
            service_score = #{record.serviceScore,jdbcType=INTEGER},
          </if>
          <if test="record.icon != null">
            icon = #{record.icon,jdbcType=VARCHAR},
          </if>
          <if test="record.birthday != null">
            birthday = #{record.birthday,jdbcType=DATE},
          </if>
          <if test="record.regionId != null">
            region_id = #{record.regionId,jdbcType=BIGINT},
          </if>
          <if test="record.region != null">
            region = #{record.region,jdbcType=VARCHAR},
          </if>
          <if test="record.zoneId != null">
            zone_id = #{record.zoneId,jdbcType=BIGINT},
          </if>
          <if test="record.wxOpenId != null">
            wx_open_id = #{record.wxOpenId,jdbcType=VARCHAR},
          </if>
          <if test="record.wxUnionId != null">
            wx_union_id = #{record.wxUnionId,jdbcType=VARCHAR},
          </if>
          <if test="record.parentId != null">
            parent_id = #{record.parentId,jdbcType=BIGINT},
          </if>
          <if test="record.invitationCode != null">
            invitation_code = #{record.invitationCode,jdbcType=VARCHAR},
          </if>
          <if test="record.idNo != null">
            id_no = #{record.idNo,jdbcType=VARCHAR},
          </if>
          <if test="record.idPhoto != null">
            id_photo = #{record.idPhoto,jdbcType=VARCHAR},
          </if>
          <if test="record.createTime != null">
            create_time = #{record.createTime,jdbcType=TIMESTAMP},
          </if>
          <if test="record.updateTime != null">
            update_time = #{record.updateTime,jdbcType=TIMESTAMP},
          </if>
        </trim>
      </otherwise>
    </choose>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update yxx_worker
    set id = #{record.id,jdbcType=BIGINT},
      username = #{record.username,jdbcType=VARCHAR},
      real_name = #{record.realName,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=INTEGER},
      `password` = #{record.password,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      `enable` = #{record.enable,jdbcType=INTEGER},
      `status` = #{record.status,jdbcType=INTEGER},
      contract_address = #{record.contractAddress,jdbcType=VARCHAR},
      level_id = #{record.levelId,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      `location` = #{record.location,jdbcType=VARCHAR},
      service_score = #{record.serviceScore,jdbcType=INTEGER},
      icon = #{record.icon,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=DATE},
      region_id = #{record.regionId,jdbcType=BIGINT},
      region = #{record.region,jdbcType=VARCHAR},
      zone_id = #{record.zoneId,jdbcType=BIGINT},
      wx_open_id = #{record.wxOpenId,jdbcType=VARCHAR},
      wx_union_id = #{record.wxUnionId,jdbcType=VARCHAR},
      parent_id = #{record.parentId,jdbcType=BIGINT},
      invitation_code = #{record.invitationCode,jdbcType=VARCHAR},
      id_no = #{record.idNo,jdbcType=VARCHAR},
      id_photo = #{record.idPhoto,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="map">
    update yxx_worker
    SET
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.escapedColumnName} = #{record.${column.javaProperty},jdbcType=${column.jdbcType}}
        </foreach>
      </when>
      <otherwise>
        <trim suffixOverrides=",">
          <if test="record.username != null">
            username = #{record.username,jdbcType=VARCHAR},
          </if>
          <if test="record.realName != null">
            real_name = #{record.realName,jdbcType=VARCHAR},
          </if>
          <if test="record.sex != null">
            sex = #{record.sex,jdbcType=INTEGER},
          </if>
          <if test="record.password != null">
            `password` = #{record.password,jdbcType=VARCHAR},
          </if>
          <if test="record.phone != null">
            phone = #{record.phone,jdbcType=VARCHAR},
          </if>
          <if test="record.enable != null">
            `enable` = #{record.enable,jdbcType=INTEGER},
          </if>
          <if test="record.status != null">
            `status` = #{record.status,jdbcType=INTEGER},
          </if>
          <if test="record.contractAddress != null">
            contract_address = #{record.contractAddress,jdbcType=VARCHAR},
          </if>
          <if test="record.levelId != null">
            level_id = #{record.levelId,jdbcType=INTEGER},
          </if>
          <if test="record.address != null">
            address = #{record.address,jdbcType=VARCHAR},
          </if>
          <if test="record.location != null">
            `location` = #{record.location,jdbcType=VARCHAR},
          </if>
          <if test="record.serviceScore != null">
            service_score = #{record.serviceScore,jdbcType=INTEGER},
          </if>
          <if test="record.icon != null">
            icon = #{record.icon,jdbcType=VARCHAR},
          </if>
          <if test="record.birthday != null">
            birthday = #{record.birthday,jdbcType=DATE},
          </if>
          <if test="record.regionId != null">
            region_id = #{record.regionId,jdbcType=BIGINT},
          </if>
          <if test="record.region != null">
            region = #{record.region,jdbcType=VARCHAR},
          </if>
          <if test="record.zoneId != null">
            zone_id = #{record.zoneId,jdbcType=BIGINT},
          </if>
          <if test="record.wxOpenId != null">
            wx_open_id = #{record.wxOpenId,jdbcType=VARCHAR},
          </if>
          <if test="record.wxUnionId != null">
            wx_union_id = #{record.wxUnionId,jdbcType=VARCHAR},
          </if>
          <if test="record.parentId != null">
            parent_id = #{record.parentId,jdbcType=BIGINT},
          </if>
          <if test="record.invitationCode != null">
            invitation_code = #{record.invitationCode,jdbcType=VARCHAR},
          </if>
          <if test="record.idNo != null">
            id_no = #{record.idNo,jdbcType=VARCHAR},
          </if>
          <if test="record.idPhoto != null">
            id_photo = #{record.idPhoto,jdbcType=VARCHAR},
          </if>
          <if test="record.createTime != null">
            create_time = #{record.createTime,jdbcType=TIMESTAMP},
          </if>
          <if test="record.updateTime != null">
            update_time = #{record.updateTime,jdbcType=TIMESTAMP},
          </if>
        </trim>
      </otherwise>
    </choose>
    where id = #{record.id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.YxxWorker">
    update yxx_worker
    set username = #{username,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      `password` = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      `enable` = #{enable,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      contract_address = #{contractAddress,jdbcType=VARCHAR},
      level_id = #{levelId,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      `location` = #{location,jdbcType=VARCHAR},
      service_score = #{serviceScore,jdbcType=INTEGER},
      icon = #{icon,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      region_id = #{regionId,jdbcType=BIGINT},
      region = #{region,jdbcType=VARCHAR},
      zone_id = #{zoneId,jdbcType=BIGINT},
      wx_open_id = #{wxOpenId,jdbcType=VARCHAR},
      wx_union_id = #{wxUnionId,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT},
      invitation_code = #{invitationCode,jdbcType=VARCHAR},
      id_no = #{idNo,jdbcType=VARCHAR},
      id_photo = #{idPhoto,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectOneByExample" parameterType="com.macro.mall.example.YxxWorkerExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from yxx_worker
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
  <select id="selectOneByExampleSelective" parameterType="map" resultMap="BaseResultMap">
    select
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.aliasedEscapedColumnName}
        </foreach>
      </when>
      <otherwise>
        <include refid="Base_Column_List" />
      </otherwise>
    </choose>
    from yxx_worker
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example != null and example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
    limit 1
  </select>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    insert into yxx_worker
    (username, real_name, sex, `password`, phone, `enable`, `status`, contract_address, 
      level_id, address, `location`, service_score, icon, birthday, region_id, region, 
      zone_id, wx_open_id, wx_union_id, parent_id, invitation_code, id_no, id_photo, 
      create_time, update_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.username,jdbcType=VARCHAR}, #{item.realName,jdbcType=VARCHAR}, #{item.sex,jdbcType=INTEGER}, 
        #{item.password,jdbcType=VARCHAR}, #{item.phone,jdbcType=VARCHAR}, #{item.enable,jdbcType=INTEGER}, 
        #{item.status,jdbcType=INTEGER}, #{item.contractAddress,jdbcType=VARCHAR}, #{item.levelId,jdbcType=INTEGER}, 
        #{item.address,jdbcType=VARCHAR}, #{item.location,jdbcType=VARCHAR}, #{item.serviceScore,jdbcType=INTEGER}, 
        #{item.icon,jdbcType=VARCHAR}, #{item.birthday,jdbcType=DATE}, #{item.regionId,jdbcType=BIGINT}, 
        #{item.region,jdbcType=VARCHAR}, #{item.zoneId,jdbcType=BIGINT}, #{item.wxOpenId,jdbcType=VARCHAR}, 
        #{item.wxUnionId,jdbcType=VARCHAR}, #{item.parentId,jdbcType=BIGINT}, #{item.invitationCode,jdbcType=VARCHAR}, 
        #{item.idNo,jdbcType=VARCHAR}, #{item.idPhoto,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" keyColumn="id" keyProperty="list.id" parameterType="map" useGeneratedKeys="true">
    insert into yxx_worker (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'username'.toString() == column.value">
          #{item.username,jdbcType=VARCHAR}
        </if>
        <if test="'real_name'.toString() == column.value">
          #{item.realName,jdbcType=VARCHAR}
        </if>
        <if test="'sex'.toString() == column.value">
          #{item.sex,jdbcType=INTEGER}
        </if>
        <if test="'password'.toString() == column.value">
          #{item.password,jdbcType=VARCHAR}
        </if>
        <if test="'phone'.toString() == column.value">
          #{item.phone,jdbcType=VARCHAR}
        </if>
        <if test="'enable'.toString() == column.value">
          #{item.enable,jdbcType=INTEGER}
        </if>
        <if test="'status'.toString() == column.value">
          #{item.status,jdbcType=INTEGER}
        </if>
        <if test="'contract_address'.toString() == column.value">
          #{item.contractAddress,jdbcType=VARCHAR}
        </if>
        <if test="'level_id'.toString() == column.value">
          #{item.levelId,jdbcType=INTEGER}
        </if>
        <if test="'address'.toString() == column.value">
          #{item.address,jdbcType=VARCHAR}
        </if>
        <if test="'location'.toString() == column.value">
          #{item.location,jdbcType=VARCHAR}
        </if>
        <if test="'service_score'.toString() == column.value">
          #{item.serviceScore,jdbcType=INTEGER}
        </if>
        <if test="'icon'.toString() == column.value">
          #{item.icon,jdbcType=VARCHAR}
        </if>
        <if test="'birthday'.toString() == column.value">
          #{item.birthday,jdbcType=DATE}
        </if>
        <if test="'region_id'.toString() == column.value">
          #{item.regionId,jdbcType=BIGINT}
        </if>
        <if test="'region'.toString() == column.value">
          #{item.region,jdbcType=VARCHAR}
        </if>
        <if test="'zone_id'.toString() == column.value">
          #{item.zoneId,jdbcType=BIGINT}
        </if>
        <if test="'wx_open_id'.toString() == column.value">
          #{item.wxOpenId,jdbcType=VARCHAR}
        </if>
        <if test="'wx_union_id'.toString() == column.value">
          #{item.wxUnionId,jdbcType=VARCHAR}
        </if>
        <if test="'parent_id'.toString() == column.value">
          #{item.parentId,jdbcType=BIGINT}
        </if>
        <if test="'invitation_code'.toString() == column.value">
          #{item.invitationCode,jdbcType=VARCHAR}
        </if>
        <if test="'id_no'.toString() == column.value">
          #{item.idNo,jdbcType=VARCHAR}
        </if>
        <if test="'id_photo'.toString() == column.value">
          #{item.idPhoto,jdbcType=VARCHAR}
        </if>
        <if test="'create_time'.toString() == column.value">
          #{item.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'update_time'.toString() == column.value">
          #{item.updateTime,jdbcType=TIMESTAMP}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>